Settings_local.h
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.idea
.dblite
include/
Settings_*.h
.pio/*
.vscode/*
Settings.h
Common_settings.h
Settings-rename.h
Common_settings-rename.h
platformio.ini